In [2]:
import pandas as pd
import seaborn as sns
import scipy.stats as stats
import numpy as np

In [4]:
data1 = pd.read_csv('data1.csv')

In [6]:
data1.describe()

                v1
count     5.000000
mean    560.000000
std     336.154726
min     100.000000
25%     400.000000
50%     600.000000
75%     700.000000
max    1000.000000

In [7]:
data1['zscore'] = (data1.v1 - data1.v1.mean())/data1.v1.std(ddof=0)

In [8]:
data1

     v1    zscore
0   100 -1.529937
1   400 -0.532152
2   600  0.133038
3   700  0.465633
4  1000  1.463418