# Mutable Data Structures - Lists

In [1]:
emptyList = []
print(emptyList)
print(type(emptyList))

[]
<class 'list'>

In [2]:
len(emptyList)

0

In [14]:
numList = [7, 2, 5, 4, 1, 6, 3]
print(numList)
len(numList)

[7, 2, 5, 4, 1, 6, 3]

7

In [15]:
mixedList = [1, 1.4, 3, True, "BITS Pilani"]
print(mixedList)
print(len(mixedList))

[1, 1.4, 3, True, 'BITS Pilani']
5

In [16]:
# Access individual elements
#            0   1   2   3         4
mixedList = [1, 1.4, 3, True, "BITS Pilani"]
#           -5  -4   -3  -2       -1

# Print 4th element - element at index 3

print(mixedList[3])

True

In [17]:
print(mixedList[-2])

True

### Mutability of Lists

In [21]:
a = [1,2,3]
print(a)
print(id(a[2]))

[1, 2, 3]
140708741226960

In [22]:
a[1] = "BITS Pilani"
print(a)
print(id(a))

[1, 'BITS Pilani', 3]
2267175544712

In [23]:
# Assign list a to another list
b = a # Assign list a to b
print(b)

[1, 'BITS Pilani', 3]

In [24]:
print(id(b))

2267175544712

In [25]:
b[2] = "Coronavirus"
print(b)

[1, 'BITS Pilani', 'Coronavirus']

In [26]:
print(a)

[1, 'BITS Pilani', 'Coronavirus']

In [27]:
# Unless you are sure what you are doing, do not use assignment
# operator with mutable objects
# Always create a new object because if you modify one object
# it will not affect the other object

# Shallow copy vs. Deep copy

c = list(a)
print(c)
print(id(c))

[1, 'BITS Pilani', 'Coronavirus']
2267179248968

In [28]:
# Comparing lists
a = [1,2,3]
b = [1,2,3]

print(a == b) # True. Compares elements of the list. Order matters

True

In [29]:
c = [2,1,3]
print(a == c) # False. Order matters

False

In [30]:
print(id(a) == id(b)) # False

False

### Adding Lists

In [31]:
a = [1,2,3]
b = ['a','b','c']
print(a)
print(b)

[1, 2, 3]
['a', 'b', 'c']

In [32]:
c = a + b
print(c)

[1, 2, 3, 'a', 'b', 'c']

In [33]:
# Updating elements of a with b
a += b
print(a)

[1, 2, 3, 'a', 'b', 'c']

In [34]:
a = [1,2,3]
b = ['Hyderabad', 'Mumbai', 'Delhi', 'Bengaluru']

a.extend(b)
print(a)
print(b)

[1, 2, 3, 'Hyderabad', 'Mumbai', 'Delhi', 'Bengaluru']
['Hyderabad', 'Mumbai', 'Delhi', 'Bengaluru']

### List Operations

In [35]:
# Create an empty list
employees = []
print(employees)

[]

In [36]:
# Adding elements to the list
employees.append("James") # 0
employees.append("Emily") # 1
print(employees)

['James', 'Emily']

In [37]:
# Inserting elements
employees.insert(1, "Tom")
print(employees)

['James', 'Tom', 'Emily']

In [38]:
#Number of employees
print(len(employees))

3

In [39]:
# Insert an element at the end
employees.insert(len(employees), "Carlos")
print(employees)

['James', 'Tom', 'Emily', 'Carlos']

In [40]:
# Checking if any element exists in the list
if "Chris" in employees:
    print("Chris is an employee")
else:
    print("Chris is not employee")

Chris is not employee

In [41]:
print("Chris" in employees)

False

In [42]:
print("Chris" not in employees)

True

In [43]:
len(employees[2])

5

In [44]:
print(employees)

['James', 'Tom', 'Emily', 'Carlos']

In [45]:
# Locate an element
pTom = employees.index("Tom") #searches from the beginnign of the list
print(pTom)

1

In [46]:
employees.append("Tom")
print(employees)

['James', 'Tom', 'Emily', 'Carlos', 'Tom']

In [47]:
pTom2 = employees.index("Tom", pTom+1)
print("Second Tom is located at ", pTom2)

Second Tom is located at  4

In [48]:
# Add an element at location one before the last one
employees.insert(len(employees)-1, "Bill")
print(employees)

['James', 'Tom', 'Emily', 'Carlos', 'Bill', 'Tom']

In [49]:
# Removing elments from the list
employees.remove("Tom")
print(employees)

['James', 'Emily', 'Carlos', 'Bill', 'Tom']

In [50]:
# Removing elements using pop()
# removes elements at a particular index
x = employees.pop(len(employees)-1)
print("Employee popped is ", x)

print(employees)

Employee popped is  Tom
['James', 'Emily', 'Carlos', 'Bill']

In [51]:
if "Jeffrey" in employees:
    employees.remove("Jeffrey")

In [52]:
print(employees)

['James', 'Emily', 'Carlos', 'Bill']

In [53]:
employees.insert(-4, "Jacob")
print(employees)

['Jacob', 'James', 'Emily', 'Carlos', 'Bill']

In [54]:
# removing an element using del statement
del employees[2]
print(employees)

['Jacob', 'James', 'Carlos', 'Bill']

### List Slicing

In [55]:
#      0  1  2  3  4  5  6  7
fib = [0, 1, 1, 2, 3, 5, 8, 13]
#     -1 -2 -3 -4 -5 -6 -7  -8

In [56]:
l1 = fib[2:6]
print(l1)

[1, 2, 3, 5]

In [57]:
l2 = fib[5:]
print(l2)

[5, 8, 13]

In [58]:
l3 = fib[-6:-2]
print(l3)

[1, 2, 3, 5]

In [59]:
l4 = fib[5:20]
print(l4)

[5, 8, 13]

In [60]:
print(fib[20])

IndexError: list index out of range

### List Operations 2

In [61]:
a = [7, 9, 3, 2]
print(a)

[7, 9, 3, 2]

In [62]:
#Basic math operations
print("Sum of the elements: ", sum(a))
print("Maximum value: ", max(a))
print("Minimum value: ", min(a))

Sum of the elements:  21
Maximum value:  9
Minimum value:  2

In [63]:
b = list(a)
print(b)

[7, 9, 3, 2]

In [64]:
#sorting elements of a list
b.sort() # By default ascending order
print(b)

[2, 3, 7, 9]

In [65]:
c = list(a)
print(c)

[7, 9, 3, 2]

In [66]:
c.sort(reverse=True)
print(c)

[9, 7, 3, 2]

In [67]:
# reverse() funcion reverses the orignal order
# the list must be in a particular order
c.reverse()
print(c)

[2, 3, 7, 9]

In [68]:
print(a)

[7, 9, 3, 2]

In [69]:
b = list(a)
print(b)

[7, 9, 3, 2]

In [70]:
c = a[:]
print(c)

[7, 9, 3, 2]

In [71]:
d = a.copy()
print(d)

[7, 9, 3, 2]